@import 'variables'

=mq($alias)
	$query: map-get($breakpoints, $alias)

	@if $query
		@media #{$query}
			@content
	@else
		@error "No breakpoint found for #{$alias}"

=img-responsive
	display: block
	max-width: 100%
	height: auto

=stretch($offset-top: 0, $offset-right: 0, $offset-bottom: 0, $offset-left: 0, $position: absolute)
	position: $position
	@if $offset-top
	    top: $offset-top
	@if $offset-bottom
		bottom: $offset-bottom
	@if $offset-left
		left: $offset-left
	@if $offset-right
		right: $offset-right

=stretch-x($offset-left: 0, $offset-right: 0, $position: null)
	@if $position
		+strench(false, $offset-right, false, $offset-left, $position)
	@else
		+strench(false, $offset-right, false, $offset-left)

=clearInputStyle
	border: none
	border-radius: 0
	padding: 0
	outline: 0

