@import 'variables'

=mq($alias)
	$query: map-get($breakpoints, $alias)

	@if $query
		@media #{$query}
			@content
	@else
		@error "No breakpoint found for #{$alias}"

=img-responsive
	display: block
	max-width: 100%
	height: auto

=stretch($offset: 0)
	position: absolute
	top: $offset
	bottom: $offset
	left: $offset
	right: $offset

=stretch($offset-v: 0, $offset-h: 0)
	position: absolute
	top: $offset-v
	bottom: $offset-v
	left: $offset-h
	right: $offset-h

=clearInputStyle
	border: none
	border-radius: 0
	padding: 0
	outline: 0

