/* Colors */
$background-color: #F2EFE9
$text-color-primary: #545454
$text-color-secondary: #797979
$text-color-tertiary: #B3B3B3
$primary-dark-color: #3A5C71
$button-color-primary: #FFA55C


/* Sizes */
$max-width: 1920px
$panel-width: 400px
$panel-margin: 60px
$panel-padding: 32px
$panel-leading: 14px
$panel-inner-width: $panel-width - 2*$panel-padding
$button-width: 78px
$button-height: 54px
$button-gutter: 8px
$button-border: 2px
$button-border-radius: $button-border * 2


/* Font */
$font-family-zh: 'Noto Sans TC', 'Heiti TC', sans-serif
$font-family-en: 'Avenir Next', 'Avenir Next LT Pro', sans-serif

$font-size-extra-large: 28px
$font-size-large: 24px
$font-size-medium: 18px
$font-size-regular: 16px
$font-size-small: 14px
$font-size-extra-small: 12px


/* Break Point */
$widescreen: "screen and (max-width : 1440px)"
