/* Colors */
$background-color: #F2EFE9
$text-color-primary: #545454
$text-color-secondary: #797979
$text-color-tertiary: #B3B3B3
$primary-dark-color: #3A5C71


/* Sizes */
$max-width: 1920px
$panel-width: 400px
$panel-margin: 60px
$panel-padding: 32px
$panel-leading: 14px
$panel-inner-width: $panel-width - 2*$panel-padding
$button-width: 78px
$button-height: 54px
$button-gutter: 8px


/* Font */
$font-family-zh: 'Noto Sans TC', 'Heiti TC', sans-serif
$font-family-en: 'Avenir Next', sans-serif
